* {
  box-sizing: border-box;
}

body {
  background-color: #2d6a4f;
  color: #ffffff;
  margin: 0;
}

body a {
  color: #ffffff;
  text-decoration: none;
  float: center;
  margin: 10px;
}

header h1 {
  color: #ffffff;
  font-size: 82px;
}

header h3 {
  font-size: 42px;
}

/* Header Styling */

header {
  text-align: center;
  font-family: "Playfair Display", serif;
  margin-top: 100px;
  z-index: 1;
  background-image: url('https://images.pexels.com/photos/1196313/pexels-photo-1196313.jpeg');
  background-size: cover;
  background-position: center;
  padding: 100px 20px;
  width: 100%;
  left: 0;
}

/* Navigation bar stuff */
.topnav {
  z-index: 1;
  display: flex;
  background-color: #20442e;
  padding: 20px;
  color: #ffffff;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 17;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: row;
  justify-content: center;
}

.topnav a {
  color: #ffffff;
  text-decoration: none;
}

.topnav a:visited {
  color: #ffffff;
}

.nav-links {
  margin-top: 45px;
}

.nav-brand {
  display: flex;
}

.nav-brand span {
  margin-top: 45px;
}

.btn {
  background-color: #ffffff;
  color: #20442e;
  font-family: "Montserrat", sans-serif;
  padding: 15px 80px 15px 80px;
  border-radius: 17px;
  margin: 0px 70px 30px 70px;
  font-size: 36px;
}

.btn:hover {
  opacity: 0.8;
}

/* Footer stuff for footer styling things */
footer {
  background-color: #20442e;
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: center;
}

.footer-links {
  display: flex;
  gap: 40px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-top: 20px;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}